.footer {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 90px;
  background-color: #f7ca18;
  /* position: fixed; */
  bottom: 0;
  height: 40px;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  padding-top: 40px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  margin-top: 30px;
}
